@import "tailwindcss";
@import "./theme.css";

[class *="backdrop-blur"] {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  transform: translateZ(0); /* Forces the GPU to take over */
  will-change: backdrop-filter; /* Tells the browser to prepare the GPU */
}
